
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <title></title>

  <style type="text/css">
    @media screen {
      @font-face {
        font-family: 'Lato';
        font-style: normal;
        font-weight: 400;
        src: local('Lato Regular'), local('Lato-Regular'), url(https://fonts.gstatic.com/s/lato/v11/qIIYRU-oROkIk8vfvxw6QvesZW2xOQ-xsNqO47m55DA.woff) format('woff');
      }

      body {
        font-family: "Lato", "Arial", Sans-Serif;
      }
    }
  </style>
</head>
<body style="margin:0; background-color:#ffffff;">
  <center>
    <table width="100%" border="0" cellpadding="0" cellspacing="0" bgcolor="#ffffff">
      <tr style="text-align: center;">
        <td align="center" valign="top" style="display: inline-block; padding: 50px 20px 50px 20px; text-align: center;">
          <table width="100%" cellpadding="0" cellspacing="0" border="0">
            <tr>
              <td align="center" valign="top" style="padding: 30px;">
                <img src="{{url}}/images/logo-dark-email.jpg" width="300" height="" style="margin:0; padding:0; border:none; display:block;" border="0" alt="MBP Core Prisma" />
              </td>
            </tr>
          </table>
          {{{content}}}
        </td>
      </tr>
    </table>
  </center>
</body>
</html>